.chat-container {
  background-color: #36393f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: calc(100vw - 552px);
  box-sizing: border-box;
}