@font-face {
  font-family: 'Ginto Nord Black';
  src: url(asset-path('GintoNordBlack.ttf')) format('truetype');
};

@font-face {
  font-family: 'Ginto Nord Bold';
  src: url(asset-path('GintoNordBold.ttf')) format('truetype');
};

@font-face {
  font-family: 'Ginto Normal Regular';
  src: url(asset-path('GintoNormalRegular.ttf')) format('truetype');
};

@font-face {
  font-family: 'Ginto Normal Medium';
  src: url(asset-path('GintoNormalMedium.ttf')) format('truetype');
};

@font-face {
  font-family: 'Whitney Book';
  src: url(asset-path('WhitneyBook.ttf')) format('truetype');
};

@font-face {
  font-family: 'Whitney Medium';
  src: url(asset-path('WhitneyMedium.ttf')) format('truetype');
};

nav {
  display: flex;
  background-color: #404EED;
  justify-content: center;
  align-items: center;
}

.navbar-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  padding: 20px;

  h2 {
    font-family: 'Ginto Nord Bold';
    font-size: 16px;
    color: white;
  }
}

.navbar-links {
  display: flex;
  text-align: center;
}

.navbar-links > li > a {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Whitney Book';
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 41px;
  box-sizing: border-box;
  margin: 0 10px 0px 10px;
  padding: 10px;
}

.landing-button {
  display: flex;
  align-items: center;
  background: #fff;
  font-family: 'Whitney Medium';
  font-size: 14px;
  text-align: center;
  height: 37px;
  padding: 7px 16px;
  box-sizing: border-box;
  border-radius: 40px;
  white-space: nowrap;
}

.first-landing-background {
  background-color: #404EED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 546px;
  overflow: hidden;
}

.splash-slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-slogan {
  width: 40%;
  height: 100%;

  h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Ginto Nord Black';
    font-size: 56px;
    text-align: center;
  }

  p {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Whitney Book';
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
  }
}

.splash-btn-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 80%;
}

.download-btn {
  display: flex;
  background-color: #fff;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: 'Whitney Medium';
  font-size: 20px;
  border: none;
  border-radius: 28px;
  padding: 16px 32px;
  margin: 0px 10px;

  svg {
    margin-right: 8px;
  }
}

.button-seperator {
  background: transparent;
  width: 24px;
}

.open-btn {
  background-color: #23272A;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Whitney Medium';
  border: none;
  border-radius: 28px;
  padding: 16px 32px;
  margin: 0px 10px;
}

.second-landing-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 680px;
  overflow: hidden;
}

.second-landing-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.second-landing-info {
  width: 24%;

  h1 {
    color: #23272A;
    font-family: 'Ginto Normal Medium';
    font-size: 48px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 0.5px;
  }

  p {
    color: #23272A;
    font-family: 'Whitney Book';
    font-size: 20px;
    line-height: 1.625;
    margin-top: 24px;
  }
}

.third-landing-background {
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 680px;
  overflow: hidden;
}

.third-landing-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.third-landing-info {
  width: 24%;

  h1 {
    color: #23272A;
    font-family: 'Ginto Normal Medium';
    font-size: 48px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 0.5px;
  }

  p {
    color: #23272A;
    font-family: 'Whitney Book';
    font-size: 20px;
    line-height: 1.625;
    margin-top: 24px;
  }
}

.fourth-landing-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 680px;
  overflow: hidden;
}

.fourth-landing-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.fourth-landing-info {
  width: 24%;

  h1 {
    color: #23272A;
    font-family: 'Ginto Normal Medium';
    font-size: 48px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 0.5px;
  }

  p {
    color: #23272A;
    font-family: 'Whitney Book';
    font-size: 20px;
    line-height: 1.625;
    margin-top: 24px;
  }
}

.fifth-landing-background {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 1059px;
  overflow: hidden;

  h1 {
    color: #23272A;
    font-family: 'Ginto Nord Black';
    font-size: 40px;
  }

  p {
    color: #23272A;
    font-family: 'Whitney Book';
    font-size: 20px;
    max-width: 980px;
    text-align: center;
    line-height: 1.625;
    margin-top: 24px;
  }

  img {
    width: 1180px;
    height: 715px;
  }
}

.sixth-landing-background {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 284px;
  overflow: hidden;

  img {
    position: absolute;
  }

  h2 {
    color: #000000;
    font-family: "Ginto Normal Medium";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 30px;
  }
}

footer {
  background: #23272A;
  display: flex;
  min-height: 510px;
}
