@font-face {
  font-family: 'Ginto Normal Medium';
  src: url(asset-path('GintoNormalMedium.ttf')) format('truetype');
};

@font-face {
  font-family: 'Whitney Book';
  src: url(asset-path('WhitneyBook.ttf')) format('truetype');
};

.settings-container {
  background: #36393F;
  border: solid 1px black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.user-settings {
  width: 218px;
  padding: 60px 6px 60px 20px;
}

.user-settings > h2 {
  color: #8E9297;
  font-family: 'Ginto Normal Medium';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.25px;
}
